# Bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/

# Test and coverage reports
.coverage
htmlcov/
.tox/
.nox/
.pytest_cache/

# Build artifacts
build/
dist/
*.egg-info/

# Jupyter notebooks
.ipynb_checkpoints/

# Environment variables
.env
.env.*

# Log files
*.log

# IDE/editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Optional: OS-specific files
.DS_Store
